@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "nord";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(92% 0.006 264.531);
  --color-base-200: oklch(92% 0.013 255.508);
  --color-base-300: oklch(87% 0.006 286.286);
  --color-base-content: oklch(37% 0.044 257.287);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.016 293.756);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(55% 0.288 302.321);
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dim";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(37% 0.034 259.733);
  --color-base-200: oklch(44% 0.043 257.281);
  --color-base-300: oklch(44% 0.017 285.786);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-content: oklch(96% 0.016 293.756);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(55% 0.288 302.321);
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

h2 {
  @apply text-3xl font-bold text-center my-8;
}

h1 {
  @apply text-3xl font-bold text-center;
}

.modal-box {
  @apply rounded-lg;
}

.alert {
  @apply rounded-lg;
}

.btn:not(.btn-circle) {
  @apply rounded-lg;
}

.hero-bg {
  background-image: url("/public/bg.svg");
  background-repeat: repeat;
}

.hero-btn-bg {
  background-image: url("/public/hero-btn-bg.svg");
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.mockup-browser-toolbar-none {
  &:before {
    content: none;
    display: none;
  }
}
